* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #2e3138;
  background-color: #fcfcfc;
  position: relative;
}

.herobanner {
  width: 100%;
  height: 60vh;
  margin-bottom: 7rem;
  padding: 0 7rem;
  background: linear-gradient(45deg, #272930, #7a0909);
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .herobanner {
    padding: 0 2rem;
  }
}
.herobanner__btn {
  border-style: none;
  border-radius: 0.7rem;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #272930;
  background-color: #fcfcfc;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.herobanner__btn:hover {
  color: #fcfcfc;
  background-color: #7a0909;
}
.herobanner__title {
  margin-bottom: 2rem;
  font-size: 4rem;
  color: #fcfcfc;
}
.herobanner__desc {
  color: #fcfcfc;
  margin-bottom: 2rem;
}
.herobanner__list {
  display: block;
  margin-bottom: 4rem;
  padding-left: 2rem;
}
.herobanner__listitem {
  color: #fcfcfc;
}

.version {
  color: #272930;
  font-size: 4rem;
  padding: 2rem;
  max-width: 120rem;
  margin: 0 auto;
}

.container--start .grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 40rem;
  grid-auto-flow: dense;
  position: relative;
  background-color: #7a0909;
}
@media (max-width: 992px) {
  .container--start .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 767px) {
  .container--start .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.container--start .grid__card {
  width: 100%;
  max-height: 50rem;
  position: relative;
  overflow: hidden;
}
.container--start .grid__card:first-child, .container--start .grid__card:nth-child(7) {
  background: linear-gradient(45deg, #7a0909 0%, #17181a 100%);
  transition: 0.5s ease-in-out;
}
.container--start .grid__card:first-child .grid__link, .container--start .grid__card:nth-child(7) .grid__link {
  border: 0.1rem solid #fcfcfc;
  padding: 1rem 1.3rem;
  width: fit-content;
  display: inline-block;
  align-self: center;
}
.container--start .grid__card:first-child .grid__overlay::before, .container--start .grid__card:nth-child(7) .grid__overlay::before {
  content: "";
  position: absolute;
  display: block;
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  left: 2rem;
  border: 0.1rem solid #fcfcfc;
  opacity: 0;
  transition: 0.5s ease-in;
}
.container--start .grid__card:first-child:hover .grid__img, .container--start .grid__card:nth-child(7):hover .grid__img {
  opacity: 0.6;
  transform: scale(1.05);
}
.container--start .grid__card:first-child:hover .grid__link, .container--start .grid__card:nth-child(7):hover .grid__link {
  opacity: 1;
  z-index: 1;
}
.container--start .grid__card:first-child:hover .grid__overlay::before, .container--start .grid__card:nth-child(7):hover .grid__overlay::before {
  opacity: 1;
}
.container--start .grid__card:nth-child(2) {
  background: linear-gradient(180deg, #f5f5f5 0%, #7a0909 100%);
}
.container--start .grid__card:nth-child(2) .grid__overlay {
  padding: 3rem;
}
.container--start .grid__card:nth-child(2) .grid__title {
  width: 100%;
  padding: 0.5rem 0;
  color: #272930;
  transition: transform 0.5s ease-in-out;
}
.container--start .grid__card:nth-child(2) .grid__title::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-color: #272930;
  content: "";
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.5s ease-in-out;
}
.container--start .grid__card:nth-child(2) .grid__link {
  display: block;
  margin-top: 2rem;
  color: #272930;
}
.container--start .grid__card:nth-child(2):hover .grid__title::after {
  transform: translate3d(0, 0, 0);
}
.container--start .grid__card:nth-child(2):hover .grid__link {
  opacity: 1;
}
.container--start .grid__card:nth-child(2):hover .grid__img {
  opacity: 0.7;
  transform: scale(1.05);
}
.container--start .grid__card:nth-child(3) .grid__overlay, .container--start .grid__card:nth-child(8) .grid__overlay {
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 0.5rem solid #fcfcfc;
  border-top: 0.5rem solid #fcfcfc;
  transition: opacity 0.5s, transform 0.5s;
  transform: scale(0, 1);
}
.container--start .grid__card:nth-child(3) .grid__title, .container--start .grid__card:nth-child(8) .grid__title {
  opacity: 1;
  transform: translate3d(0, -100%, 0);
}
.container--start .grid__card:nth-child(3) .grid__link, .container--start .grid__card:nth-child(8) .grid__link {
  transition: opacity 0.5s, transform 0.5s;
  transform: translate3d(0, 100%, 0);
}
.container--start .grid__card:nth-child(3):hover .grid__overlay, .container--start .grid__card:nth-child(8):hover .grid__overlay {
  opacity: 1;
  transform: scale(1);
  background-color: rgba(148, 9, 9, 0.4);
}
.container--start .grid__card:nth-child(3):hover .grid__img, .container--start .grid__card:nth-child(8):hover .grid__img {
  transform: scale(1.05);
}
.container--start .grid__card:nth-child(3):hover .grid__title,
.container--start .grid__card:nth-child(3):hover .grid__link, .container--start .grid__card:nth-child(8):hover .grid__title,
.container--start .grid__card:nth-child(8):hover .grid__link {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.container--start .grid__card:nth-child(4) .grid__title {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(4.5rem);
  transition: all 0.5s ease-in-out;
}
.container--start .grid__card:nth-child(4) .grid__link {
  display: inline-block;
  border: 0.1rem solid #fcfcfc;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  margin: -4.7rem 0 0 0;
  padding: 6.2rem 0;
  font-weight: 700;
}
.container--start .grid__card:nth-child(4):hover .card__overlay {
  background-color: rgba(48, 108, 157, 0.4);
}
.container--start .grid__card:nth-child(4):hover .grid__title {
  transform: translateY(0.5rem);
}
.container--start .grid__card:nth-child(4):hover .grid__link {
  opacity: 1;
  transform: scale(1);
}
.container--start .grid__card:nth-child(5) .grid__overlay {
  left: 0;
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 7.75em;
  transition: transform 0.5s ease-in-out;
}
.container--start .grid__card:nth-child(5) .grid__img {
  transition: transform 0.5s;
}
.container--start .grid__card:nth-child(5) .grid__link {
  display: inline-block;
  padding: 0.7rem 1.4rem;
  color: #fff;
  transition: transform 0.5s ease-in-out;
  transform: translate3d(0, 200%, 0);
  visibility: visible;
}
.container--start .grid__card:nth-child(5):hover .grid__img {
  transform: translate3d(0, -17%, 0);
}
.container--start .grid__card:nth-child(5):hover .grid__link {
  opacity: 1;
  transition-delay: 0.2s;
  transform: translate3d(0, 0, 0);
}
.container--start .grid__card:nth-child(6) .grid__img {
  transform: scale(1.4);
}
.container--start .grid__card:nth-child(6) .grid__title {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
}
.container--start .grid__card:nth-child(6) .grid__link {
  display: inline-block;
  padding: 10rem 0;
  margin-top: 5rem;
  border: 0.1rem solid #fcfcfc;
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
  position: absolute;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
  margin: auto auto;
}
.container--start .grid__card:nth-child(6):hover .grid__overlay {
  background-color: rgba(85, 5, 5, 0.4);
}
.container--start .grid__card:nth-child(6):hover .grid__img {
  transform: scale(1);
}
.container--start .grid__card:nth-child(6):hover .grid__link {
  opacity: 1;
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.4);
}
.container--start .grid__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.container--start .grid__img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}
.container--start .grid__title {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: #fcfcfc;
  font-size: 2rem;
  overflow: hidden;
}
.container--start .grid__link {
  margin-top: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fcfcfc;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.spacer {
  height: 7rem;
}

.testimonials-1 {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
  text-align: center;
}
.testimonials-1__title {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  color: #f44336;
}
.testimonials-1 .row {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.testimonials-1 .wrapper {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  display: flex;
}
@media (max-width: 767px) {
  .testimonials-1 .wrapper {
    flex-basis: 100%;
  }
}
.testimonials-1 .wrapper__img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testimonials-1 .wrapper__desc {
  font-size: 1.6rem;
  padding: 0;
  text-align: left;
}
.testimonials-1 .wrapper__client {
  margin-top: 1.5rem;
}
.testimonials-1 .wrapper .fas,
.testimonials-1 .wrapper .far {
  color: #f44336;
}

.container__testim--1 {
  background: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 140rem;
  min-height: 80rem;
  margin: 3rem auto;
  padding: 0 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .container__testim--1 {
    padding: 2rem;
  }
}

.wrapper-1 {
  background-color: #f4f4f4;
  min-height: 60rem;
  box-shadow: -0.4rem -0.4rem 1rem rgba(0, 0, 0, 0.25);
}
.wrapper-1 h2 {
  font-size: 3.6rem;
  color: #ef6749;
  text-align: center;
  padding-top: 5rem;
}
.wrapper-1 h2::after {
  content: "";
  display: block;
  height: 0.2rem;
  width: 27.5rem;
  background-color: #ef6749;
  margin: 0 auto;
}
.wrapper-1 .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5rem;
  margin-top: 10rem;
}
.wrapper-1 .box__body {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  flex-basis: 48%;
}
@media (max-width: 992px) {
  .wrapper-1 .box__body {
    flex-basis: 100%;
    margin-bottom: 10rem;
  }
}
.wrapper-1 .box__body:last-child {
  margin-bottom: 5rem;
}
.wrapper-1 .box__client {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
}
.wrapper-1 .box__title {
  font-size: 2.2rem;
  color: #ef6749;
  text-align: center;
  margin: 7rem 0 3rem 0;
}
.wrapper-1 .box__desc {
  font-size: 1.8rem;
  line-height: 3.7rem;
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.testimonials-2__title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.testimonials-2__title::after {
  content: "";
  display: block;
  width: 50rem;
  height: 0.5rem;
  margin: 0 auto;
  background-color: #d3b467;
}
.testimonials-2__desc {
  text-align: center;
}
.testimonials-2 .container-2 {
  max-width: 120rem;
  margin: 3rem auto;
  padding: 0 3rem;
}
.testimonials-2 .row {
  width: 100%;
  padding: 10rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.testimonials-2 .body {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.9rem 0.2rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  position: relative;
}
.testimonials-2 .body::before {
  display: inline-block;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10d";
  color: #d3b467;
  opacity: 0.4;
  font-size: 10rem;
}
.testimonials-2 .body__text {
  margin: 4rem 0;
  font-style: italic;
  text-align: left;
  z-index: 2;
}
@media (max-width: 992px) {
  .testimonials-2 .body {
    flex-basis: 100%;
    margin-bottom: 1rem;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #ff676d;
}
.hero__title {
  font-size: 4rem;
  text-align: center;
  padding-top: 8rem;
  color: #fff;
}
.hero .container-3 {
  width: 80rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero .indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10rem;
}
.hero .btn {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.4rem;
  border-radius: 1.5rem;
  background-color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.hero .active {
  width: 4.5rem;
}
.hero .testimonials-3 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 320rem;
  transition: 0.5s;
}
.slider__wrapper {
  width: 80rem;
  height: 40rem;
  position: relative;
}
@media (max-width: 992px) {
  .slider__wrapper {
    height: 60rem;
  }
}
.slider__user {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
@media (max-width: 992px) {
  .slider__user {
    left: 50%;
    transform: translateX(-50%);
  }
}
.slider__user--img {
  height: 100%;
  border-radius: 1rem;
}
.slider__user-text {
  width: 55rem;
  height: 27rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2d3a59;
  border-radius: 1rem;
  color: #d3d4d6;
  padding: 4.5rem;
  z-index: 2;
}
@media (max-width: 992px) {
  .slider__user-text {
    max-width: 55rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.slider__user-text p {
  font-size: 1.8rem;
  line-height: 130%;
}
.slider__user-text h3 {
  margin: 3.5rem 0 0.5rem;
}

.campus {
  max-width: 120rem;
  margin: 7rem auto;
  padding: 0 3rem;
  text-align: center;
}
.campus h2 {
  font-size: 5rem;
}
.campus p {
  text-align: center;
}
.campus__row {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.campus__col {
  flex-basis: 32%;
  height: 50rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .campus__col {
    flex-basis: 100%;
  }
}
.campus__col img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.campus__layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.campus__layer:hover {
  background: rgba(255, 0, 0, 0.7);
}
.campus__layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
.campus h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 2.6rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  transition: 0.5s;
}

.containercards--2 {
  max-width: 120rem;
  padding: 0 5rem;
  margin: 0 auto;
  position: relative;
}
.containercards--2 .image {
  width: 100%;
}
.containercards--2 .imagebox {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 55rem;
  border-radius: 1.2rem;
}
.containercards--2 .imagebox__left {
  background: url("https://images.unsplash.com/photo-1527631746610-bca00a040d60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8dHJhdmVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.containercards--2 .imagebox__right {
  background: url("https://images.unsplash.com/photo-1500835556837-99ac94a94552?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dHJhdmVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row--5 {
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media (max-width: 767px) {
  .row--5 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.cardsfull {
  background-color: #27292f;
  position: relative;
  padding: 7rem 0;
}
.cardsfull__content {
  position: relative;
  margin-bottom: 0;
}
.cardsfull__layer {
  position: absolute;
  background-color: #27292f;
  bottom: 0;
  left: 0;
  right: 5rem;
  padding: 5rem;
  margin: 0;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.cardsfull__layer:hover {
  background-color: #ca4c25;
  bottom: 0;
  left: -2rem;
  right: 2rem;
}
.cardsfull__title {
  color: #fcfcfc;
}
.cardsfull__subtitle {
  color: #fcfcfc;
  margin-bottom: 2rem;
}

.containercards--3 {
  max-width: 140rem;
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 7rem auto;
  row-gap: 10rem;
}

.wrappercard-1 {
  position: relative;
  flex-basis: 27%;
  z-index: 0;
  transition: 0.5s;
}
.wrappercard-1 img {
  width: 100%;
}
.wrappercard-1:first-child:hover::before, .wrappercard-1:nth-child(2):hover::before, .wrappercard-1:nth-child(3):hover::before {
  bottom: 4rem;
  right: 3rem;
}
.wrappercard-1:first-child:hover::after, .wrappercard-1:nth-child(2):hover::after, .wrappercard-1:nth-child(3):hover::after {
  top: 4rem;
  left: 3rem;
}
.wrappercard-1::before, .wrappercard-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.3s ease;
}
.wrappercard-1:first-child::before {
  background: url(https://t4.ftcdn.net/jpg/04/19/10/31/240_F_419103171_XOrKMxAAmz51xzXffiLzC4AX6AEOPLIm.jpg);
  bottom: 2rem;
  right: 2rem;
}
.wrappercard-1:nth-child(2)::before {
  background: url(https://t4.ftcdn.net/jpg/02/71/72/67/240_F_271726761_dvA2HpN6SQh6X1v4SwffpyHj7yMVRcfv.jpg);
  bottom: 2rem;
  right: 2rem;
}
.wrappercard-1:nth-child(3)::before {
  background: url(https://t4.ftcdn.net/jpg/04/58/54/71/240_F_458547120_JPz4rQGDJWl7he9jBwfXlpvVE71vIxvm.jpg);
  bottom: 2rem;
  right: 2rem;
}
.wrappercard-1:first-child::after {
  background: #00fff7;
  top: 2rem;
  left: 2rem;
}
.wrappercard-1:nth-child(2)::after {
  background: green;
  top: 2rem;
  left: 2rem;
}
.wrappercard-1:nth-child(3)::after {
  background: #800e13;
  top: 2rem;
  left: 2rem;
}

.containercards--4 {
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.containercards--4 .cardss {
  position: relative;
}
.containercards--4 .cardss:nth-child(1) .cardss__icon {
  background: #e07768;
}
.containercards--4 .cardss:nth-child(2) .cardss__icon {
  background: #6eadd4;
}
.containercards--4 .cardss:nth-child(3) .cardss__icon {
  background: #D46EAD;
}
.containercards--4 .cardss__face {
  width: 30rem;
  height: 20rem;
  transition: 0.5s;
}
.containercards--4 .cardss__face--1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(10rem);
}
.containercards--4 .cardss__face--2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  transform: translateY(-10rem);
}
.containercards--4 .cardss__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s;
  z-index: 1;
}
.containercards--4 .cardss .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}
.containercards--4 .cardss:hover .cardss__face--1 {
  transform: translateY(0px);
}
.containercards--4 .cardss:hover .cardss__content {
  opacity: 1;
  transition: 0.5s;
}
.containercards--4 .cardss:hover .cardss__face--2 {
  transform: translateY(0);
}
.containercards--4 .cardss__desc {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}
.containercards--4 .cardss__link {
  display: block;
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 2.4rem;
  color: #414141;
  text-decoration: none;
  text-align: center;
}
.containercards--4 .cardss:nth-child(1) .cardss__link:hover {
  color: #e07768;
}
.containercards--4 .cardss:nth-child(2) .cardss__link:hover {
  color: #6eadd4;
}
.containercards--4 .cardss:nth-child(3) .cardss__link:hover {
  color: #D46EAD;
}

.containercards--5 {
  width: 100%;
  margin: 5rem auto;
  padding: 10rem 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #27292f;
}
.containercards--5 .cardss {
  position: relative;
}
.containercards--5 .cardss__face {
  width: 30rem;
  height: 20rem;
  transition: 0.5s;
  background-color: #27292f;
}
.containercards--5 .cardss__face--1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(10rem);
}
.containercards--5 .cardss__face--2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  transform: translateY(-10rem);
}
.containercards--5 .cardss:hover .cardss__face.cardss__face--1 {
  background: #e07768;
  transform: translateY(0);
}
.containercards--5 .cardss__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containercards--5 .cardss .fa {
  border: 0.1rem solid #fcfcfc;
  border-radius: 50%;
  padding: 2rem;
  font-size: 4rem;
  color: #fcfcfc;
  transition: 0.7s;
}
.containercards--5 .cardss__title {
  color: #fcfcfc;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}
.containercards--5 .cardss:hover .cardss__face--1 {
  transform: translateY(0px);
}
.containercards--5 .cardss:hover .cardss__content {
  opacity: 1;
  transition: 0.5s;
}
.containercards--5 .cardss:hover .cardss__face--2 {
  transform: translateY(0);
}
.containercards--5 .cardss:hover .cardss__face--2 .cardss__icon {
  background: #e07768;
}
.containercards--5 .cardss__desc {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1.4rem;
}
.containercards--5 .cardss__link {
  display: block;
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 2.4rem;
  color: #414141;
  text-decoration: none;
  text-align: center;
}
.containercards--5 .cardss__btn {
  padding: 0.7rem 1.2rem;
  background-color: #27292f;
  color: #fff;
  border-style: none;
  border-radius: 0.7rem;
  margin-top: 1rem;
}
.containercards--5 .cardss__btn:hover {
  background-color: #e07768;
}

.containercards--6 {
  position: relative;
}
.containercards--6 .row--12 {
  max-width: 120rem;
  margin: 2rem auto;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  position: relative;
}
@media (max-width: 992px) {
  .containercards--6 .row--12 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 767px) {
  .containercards--6 .row--12 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.containercards--6 .block {
  position: relative;
  display: flex;
  height: 50rem;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.24);
  transition: 1s ease-in-out;
  overflow: hidden;
}
.containercards--6 .block:hover .block__img {
  transform: scale(1.25);
}
.containercards--6 .block:hover .block__body {
  bottom: 0;
}
.containercards--6 .block__title {
  position: absolute;
  top: 5rem;
  left: 2rem;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
}
.containercards--6 .block__img {
  width: 100%;
  height: 100%;
  transition: 0.7s;
}
.containercards--6 .block__body {
  position: absolute;
  bottom: -57%;
  left: 0;
  width: 100%;
  height: 70%;
  margin: 0;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  transition: 1s;
}
.containercards--6 .block__subtitle {
  margin-bottom: 3rem;
}
.containercards--6 .block__excerpt {
  font-size: 1.4rem;
  line-height: 1.75;
}
.containercards--6 .block__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0;
  padding: 10px 30px;
  background-color: #9240b3;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}

.containercards--7 {
  max-width: 120rem;
  padding: 0 3rem;
  margin: 2rem auto;
}
.containercards--7 .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .containercards--7 .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.containercards--7 .cards__item {
  height: 40rem;
}
.containercards--7 .card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
.containercards--7 .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.containercards--7 .card:nth-child(1) {
  background-image: linear-gradient(45deg, #3503ad, #f7308c);
}
.containercards--7 .card:nth-child(2) {
  background-image: linear-gradient(45deg, #ccff00, #09afff);
}
.containercards--7 .card:nth-child(3) {
  background-image: linear-gradient(45deg, #e91e63, #ffeb3b);
}
.containercards--7 .card__frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.containercards--7 .card__picture {
  margin-bottom: 1.2rem;
  filter: invert(1);
}
.containercards--7 .card__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.containercards--7 .card__title {
  margin: 0;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.containercards--7 .card__overlay {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.containercards--7 .card__overlay::before {
  content: "Read";
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.containercards--7 .card__overlay:hover, .containercards--7 .card__overlay:focus {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  border-radius: 0;
  opacity: 0.9;
}
.containercards--7 .card__overlay:hover::before, .containercards--7 .card__overlay:focus::before {
  content: none;
}
.containercards--7 .card__overlay:hover ~ .card__content, .containercards--7 .card__overlay:focus ~ .card__content {
  opacity: 1;
  visibility: visible;
}
.containercards--7 .card:nth-child(1) .card__overlay {
  background-image: linear-gradient(45deg, #3503ad, #f7308c);
}
.containercards--7 .card:nth-child(2) .card__overlay {
  background-image: linear-gradient(45deg, #ccff00, #09afff);
}
.containercards--7 .card:nth-child(3) .card__overlay {
  background-image: linear-gradient(45deg, #e91e63, #ffeb3b);
}
.containercards--7 .card__content {
  z-index: 2;
  padding: 2rem;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
  pointer-events: none;
  transition: 0.5s;
}
.containercards--7 .card__content h2 {
  color: #fcfcfc;
}

.containercards--8 {
  width: 100%;
  height: 60rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E6E5E1;
}
.containercards--8 .card {
  position: relative;
  width: 50rem;
  height: 20rem;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 4rem;
}
.containercards--8 .card:before {
  content: "";
  z-index: 1;
  position: absolute;
  top: -1rem;
  left: 3.2rem;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: #E6E5E1;
}
.containercards--8 .card:after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: -1rem;
  left: 3.2rem;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: #E6E5E1;
}
.containercards--8 .card__deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 20rem;
  border-right: 0.1rem solid #E6E5E1;
  border-right-style: dashed;
  z-index: 2;
}
.containercards--8 .card__title {
  position: absolute;
  bottom: 0;
  right: 13rem;
  font-size: 6rem;
  font-weight: 700;
  color: #fff;
  z-index: 2;
}
.containercards--8 .card__note {
  z-index: 2;
  position: absolute;
  top: 2rem;
  right: 7rem;
  color: #333;
  opacity: 0.7;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  writing-mode: vertical-lr;
  transition: all 0.2s ease;
}
.containercards--8 .card__img {
  width: 40rem;
  height: 100%;
  background-image: url("https://images.unsplash.com/uploads/14128324071271c853818/3765c625?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGxvbmVseSUyMHRyYXZlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  z-index: 0;
}
.containercards--8 .card .social {
  position: absolute;
  left: 6rem;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 18rem;
  height: 6.4rem;
  border-radius: 8rem;
}
.containercards--8 .card .social i {
  opacity: 0;
  font-size: 1.8rem;
  color: #fff;
  will-change: transform;
  transform: scale(0.1);
  transition: all 0.2s ease;
}
.containercards--8 .card .social i:nth-of-type(1) {
  transition-delay: 0.4s;
}
.containercards--8 .card .social i:nth-of-type(2) {
  transition-delay: 0.3s;
}
.containercards--8 .card .social i:nth-of-type(3) {
  transition-delay: 0.2s;
}
.containercards--8 .card .social i:nth-of-type(4) {
  transition-delay: 0.1s;
}
.containercards--8 .card__dot {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: #DA4D1D;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  mix-blend-mode: hard-light;
}
.containercards--8 .card:nth-child(2) .card__dot {
  background-color: #2b26c3;
}
.containercards--8 .card:hover i {
  opacity: 1;
  transform: scale(1);
}
.containercards--8 .card:hover .card__dot {
  transform: scale(16.5);
}
.containercards--8 .card:hover .card__note {
  color: #fff;
}
.containercards--8 .card:hover .card__img {
  filter: grayscale(0);
}
.containercards--8 .card:hover .fas {
  opacity: 1;
  z-index: 5;
}
.containercards--8 .card:nth-child(2) .card__img {
  background-image: url("https://images.unsplash.com/photo-1611304366736-c5a35154bfac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YXJjaGl0ZWN1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60");
}

.containerteam--1 {
  max-width: 120rem;
  padding: 3rem;
  margin: 0 auto;
}
.containerteam--1 .teamtitle {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 7rem;
}
.containerteam--1 .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.containerteam--1 .card {
  flex-basis: 30%;
  height: 40rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: 1s ease-in-out;
  z-index: 1;
}
@media (max-width: 767px) {
  .containerteam--1 .card {
    flex-basis: 100%;
    margin-bottom: 1rem;
  }
}
.containerteam--1 .card__img {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerteam--1 .card img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
.containerteam--1 .card__title {
  position: absolute;
  top: 7%;
  left: 7%;
  color: #fff;
  opacity: 0;
  transition: opacity 1s;
}
.containerteam--1 .card__icons {
  position: absolute;
  bottom: 7%;
  left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  color: #fff;
  opacity: 0;
  transition: opacity 1s;
}
.containerteam--1 .card__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 0;
}
.containerteam--1 .card:hover .card__title {
  opacity: 1;
  z-index: 2;
}
.containerteam--1 .card:hover .card__icons {
  opacity: 1;
  z-index: 2;
}
.containerteam--1 .card:hover .card__layer {
  background-color: rgba(0, 0, 0, 0.5);
}
.containerteam--1 .card:hover img {
  transform: scale(1.2);
}

.containerteam--2 {
  max-width: 120rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7rem auto;
  padding: 0 3rem;
}
@media (max-width: 767px) {
  .containerteam--2 {
    flex-direction: column;
  }
}
.containerteam--2 .card {
  flex-basis: 30%;
  height: 40rem;
  border-radius: 10px;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 70px 63px -60px #000000;
  transition: background 1s ease-in-out;
}
@media (max-width: 767px) {
  .containerteam--2 .card {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.containerteam--2 .card--1 {
  background: url("https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80") center no-repeat;
  background-size: 35rem;
}
@media (max-width: 767px) {
  .containerteam--2 .card--1 {
    background-size: 100%;
  }
}
.containerteam--2 .card--1:hover {
  background: url("https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80") left center no-repeat;
  background-size: 70rem;
}
.containerteam--2 .card--1:hover .team {
  border: 1px solid white;
}
.containerteam--2 .card--1:hover .team__icons {
  opacity: 1;
}
.containerteam--2 .card--1:hover .team__title {
  opacity: 1;
}
.containerteam--2 .card--2 {
  background: url("https://images.unsplash.com/photo-1546456073-92b9f0a8d413?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80") center center no-repeat;
  background-size: 35rem;
}
@media (max-width: 767px) {
  .containerteam--2 .card--2 {
    background-size: 100%;
  }
}
.containerteam--2 .card--2:hover {
  background: url("https://images.unsplash.com/photo-1546456073-92b9f0a8d413?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80") left center no-repeat;
  background-size: 70rem;
}
.containerteam--2 .card--2:hover .team {
  border: 1px solid white;
}
.containerteam--2 .card--2:hover .team__icons {
  opacity: 1;
}
.containerteam--2 .card--2:hover .team__title {
  opacity: 1;
}
.containerteam--2 .card--3 {
  background: url("https://images.unsplash.com/photo-1554651802-57f1d69a4944?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80") center center no-repeat;
  background-size: 35rem;
}
@media (max-width: 767px) {
  .containerteam--2 .card--3 {
    background-size: 100%;
  }
}
.containerteam--2 .card--3:hover {
  background: url("https://images.unsplash.com/photo-1554651802-57f1d69a4944?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80") left center no-repeat;
  background-size: 70rem;
}
.containerteam--2 .card--3:hover .team {
  border: 1px solid white;
}
.containerteam--2 .card--3:hover .team__icons {
  opacity: 1;
}
.containerteam--2 .card--3:hover .team__title {
  opacity: 1;
}
.containerteam--2 .team {
  width: 95%;
  height: 95%;
  background: transparent;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: border 0.5s ease-in-out;
  position: relative;
}
@media (max-width: 767px) {
  .containerteam--2 .team {
    height: 35rem;
    margin: 2rem;
  }
}
.containerteam--2 .team__title {
  color: white;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.containerteam--2 .team__icons {
  position: absolute;
  color: #fff;
  bottom: 7%;
  left: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  opacity: 0;
  transition: opacity 1s;
}

.containerteam--3 {
  max-width: 100rem;
  padding: 7rem;
  margin: 7rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.containerteam--3 .team {
  position: relative;
  margin-bottom: 6rem;
  padding: 3rem;
  flex-basis: 40%;
}
@media (max-width: 767px) {
  .containerteam--3 .team {
    flex-basis: 100%;
  }
}
.containerteam--3 .team__img {
  width: 100%;
  height: 40rem;
  display: block;
  object-fit: cover;
  filter: grayscale(100%);
  box-shadow: 1rem 1rem 2.5rem 0 rgba(0, 0, 0, 0.6);
  margin-top: -1rem;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.containerteam--3 .team:hover .team__img {
  box-shadow: 0.1rem 0.1rem 1rem 0 rgba(0, 0, 0, 0.1);
  margin-top: 0;
}
.containerteam--3 .team:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.containerteam--3 .team:hover .wraperglow {
  margin-top: 0;
}
.containerteam--3 .team__member {
  width: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-35%, -75%);
  margin: 0;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  z-index: 2;
}
@media (max-width: 992px) {
  .containerteam--3 .team__member {
    transform: translate(-10%, -75%);
  }
}
.containerteam--3 .team .wraperglow {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -1rem;
}
.containerteam--3 .team .glow {
  display: block;
  position: absolute;
  width: 40%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  filter: blur(1rem);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.container__blogpost--1 {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container__blogpost--1 .card {
  flex-basis: 30%;
  margin-bottom: 2rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
}
@media (max-width: 992px) {
  .container__blogpost--1 .card {
    flex-basis: 49%;
  }
}
@media (max-width: 767px) {
  .container__blogpost--1 .card {
    flex-basis: 100%;
  }
}
.container__blogpost--1 .card:hover .card__caption {
  top: 50%;
  transform: translateY(-50%);
}
.container__blogpost--1 .card:hover .card__image {
  transform: translateY(-1rem);
}
.container__blogpost--1 .card:hover .card__body::after {
  top: 0;
}
.container__blogpost--1 .card__body {
  position: relative;
  height: 50rem;
  overflow: hidden;
}
.container__blogpost--1 .card__body::after {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 40%, rgba(255, 255, 255, 0) 100%);
  transition: 0.5s;
}
.container__blogpost--1 .card__image {
  width: 100%;
  height: 120%;
  display: blocks;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}
@media (max-width: 992px) {
  .container__blogpost--1 .card__image {
    height: auto;
  }
}
.container__blogpost--1 .card__caption {
  text-align: center;
  padding: 0 2rem;
  position: absolute;
  top: calc(100% - 10rem);
  z-index: 1;
  color: white;
  transition: 1s;
}
@media (max-width: 992px) {
  .container__blogpost--1 .card__caption {
    top: calc(100% - 7rem);
  }
}
.container__blogpost--1 .card__title {
  max-height: 10rem;
  overflow: hidden;
  font-size: 2.3rem;
  line-height: 2.8rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.container__blogpost--1 .card__snippet {
  max-height: 15rem;
  overflow: hidden;
  margin: 4rem 0;
  transition: 1s ease-in-out;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.container__blogpost--1 .card__button {
  display: inline-block;
  padding: 1rem 2rem;
  color: white;
  border: 1px solid white;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.container__blogpost--1 .card__button:hover {
  color: black;
  background-color: white;
}

.container__blogpost--2 {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3rem;
  position: relative;
}
.container__blogpost--2 .row--10 {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  position: relative;
}
@media (max-width: 992px) {
  .container__blogpost--2 .row--10 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 767px) {
  .container__blogpost--2 .row--10 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.container__blogpost--2 .article {
  background-color: #fff;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: 0.3rem 0.3rem 0.9rem 0.2rem rgba(0, 0, 0, 0.1);
}
.container__blogpost--2 .article__items {
  padding: 2rem;
}
.container__blogpost--2 .article__link {
  color: #fcfcfc;
  list-style: none;
  text-decoration: none;
}
.container__blogpost--2 .article__title {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  line-height: 3rem;
}
.container__blogpost--2 .article__title-link {
  color: #232733;
  text-decoration: none;
  transition: 0.3s ease-in;
}
.container__blogpost--2 .article__title-link:hover {
  color: #ca4c25;
}
.container__blogpost--2 .article__meta {
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.container__blogpost--2 .article__categories {
  display: block;
  text-transform: uppercase;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.7rem;
  background-color: #ca4c25;
  font-size: 1rem;
  color: #fcfcfc;
  border-radius: 0.4rem;
  transition: background-color 0.5s ease-in-out;
}
.container__blogpost--2 .article__date {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.container__blogpost--2 .article__date::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.8rem;
  border-radius: 50%;
  background-color: #ef7059;
  vertical-align: middle;
}
.container__blogpost--2 .article__commentsmeta {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.container__blogpost--2 .article:hover img {
  transform: scale(1.05);
}
.container__blogpost--2 .image__container {
  display: inline-flex;
  position: relative;
  overflow: hidden;
}
.container__blogpost--2 .image__container .article__image {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  transition: 0.5s ease;
}
.container__blogpost--2 .image__container .article__image:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.container__blogpost--3 .row {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container__blogpost--3 .article {
  margin: 5rem 0;
}
.container__blogpost--3 .article__img {
  flex-basis: 45%;
}
@media (max-width: 767px) {
  .container__blogpost--3 .article__img {
    flex-basis: 100%;
  }
}
.container__blogpost--3 .article__img img {
  width: 100%;
}
.container__blogpost--3 .article__body {
  flex-basis: 52%;
}
@media (max-width: 767px) {
  .container__blogpost--3 .article__body {
    flex-basis: 100%;
  }
}
.container__blogpost--3 .article__title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.container__blogpost--3 .article__meta {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.container__blogpost--3 .article__categories {
  display: inline-block;
  margin-bottom: 1rem;
}
.container__blogpost--3 .article__categories::before {
  content: "\f02b";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #d3b467;
  font-size: 1.5rem;
}
.container__blogpost--3 .article__date {
  display: inline-block;
  margin-bottom: 1rem;
}
.container__blogpost--3 .article__date::before {
  content: "\f017";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #d3b467;
  font-size: 1.5rem;
}
.container__blogpost--3 .article .category__link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: #d3b467;
  cursor: pointer;
  margin-right: 0.5rem;
}
.container__blogpost--3 .article .category__link:hover {
  color: #057083;
}
.container__blogpost--3 .article .outline-btn {
  border-style: none;
  margin-top: 2rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  border: solid 0.2rem #296478;
  background-color: transparent;
  color: #296478;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.container__blogpost--3 .article .outline-btn:hover {
  background-color: #057083;
  color: #fff;
}

.container__blogpost--4 {
  padding: 7rem 3rem;
  margin: 0 auto;
  position: relative;
}
.container__blogpost--4 .row--16 {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  position: relative;
}
@media (max-width: 992px) {
  .container__blogpost--4 .row--16 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 767px) {
  .container__blogpost--4 .row--16 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.container__blogpost--4 .article {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  box-shadow: 0.3rem 0.3rem 0.9rem 0.2rem rgba(0, 0, 0, 0.1);
}
.container__blogpost--4 .article__items {
  padding: 2rem;
}
.container__blogpost--4 .article__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.container__blogpost--4 .article__title {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #232733;
}
.container__blogpost--4 .article__title-link {
  color: #232733;
  text-decoration: none;
  transition: 0.3s ease-in;
}
.container__blogpost--4 .article__title-link:hover {
  color: #d3b467;
}
.container__blogpost--4 .article__excerpt {
  flex-grow: 2;
}
.container__blogpost--4 .article__button {
  width: 100%;
  margin-top: 3rem;
  border-style: none;
  padding: 2rem 0;
  background-color: #057083;
  color: #fcfcfc;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.container__blogpost--4 .article__button:hover {
  background-color: #d3b467;
}
.container__blogpost--4 .article:hover img {
  transform: scale(1.05);
}
.container__blogpost--4 .image__container {
  display: inline-flex;
  position: relative;
  overflow: hidden;
}
.container__blogpost--4 .image__container .article__image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  transition: 0.5s ease;
}
.container__blogpost--4 .image__container .article__image:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.containergallery--1 {
  max-width: 120rem;
  height: 70vh;
  padding: 0 3rem;
  margin: 7rem auto;
  display: flex;
}
.containergallery--1 .box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
.containergallery--1 .box:hover {
  flex: 1 1 50%;
}
.containergallery--1 .box:hover .box__img {
  width: 100%;
  height: 100%;
}
.containergallery--1 .box__img {
  width: 100%;
  height: calc(100% - 6vh);
  object-fit: cover;
  transition: 0.5s;
}
.containergallery--1 .box__desc {
  font-size: 2rem;
  display: block;
  text-align: center;
  height: 6vh;
}

.containergallery--2 {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.containergallery--2 .thumbnails {
  display: flex;
  flex-direction: column;
  line-height: 0;
}
.containergallery--2 .thumbnails li {
  flex: auto;
  list-style: none;
}
.containergallery--2 .thumbnails a {
  display: block;
}
.containergallery--2 .thumbnails img {
  width: 30vmin;
  height: 20vmin;
  object-fit: cover;
  object-position: top;
}
.containergallery--2 .slides {
  overflow: hidden;
  width: 55vmin;
  height: 80vmin;
}
.containergallery--2 .slides li {
  width: 55vmin;
  height: 80vmin;
  position: absolute;
  z-index: 1;
  list-style: none;
}
.containergallery--2 .slides img {
  height: 100vmin;
  object-fit: cover;
  object-position: top;
}
.containergallery--2 .slides li:target {
  z-index: 3;
  animation: slide 1s 1;
}
.containergallery--2 .slides li:not(:target) {
  animation: hidden 1s 1;
}
@keyframes slide {
  0% {
    transform: translatex(-100%);
  }
  100% {
    transform: translatex(0%);
  }
}
@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}

.container--21 {
  max-width: 100rem;
  margin: 7rem auto;
  padding: 3rem 0;
  display: grid;
  place-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
.container--21 .card {
  position: relative;
  padding: 4.2rem 3.2rem;
  clip-path: circle(5% at 95% 15%);
  transition: all ease-in-out 0.3s;
  background-color: #ffffff;
}
.container--21 .card__infoicon {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  font-size: 2rem;
  color: #000000;
  transition: ease-out 0.3s;
}
.container--21 .card__title {
  margin: 0;
  font-size: 3rem;
  line-height: 1.8;
}
.container--21 .card__description {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.6;
}
.container--21 .card:hover, .container--21 .card:focus {
  clip-path: circle(75%);
  border-radius: 20px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  outline: none;
}
.container--21 .card:hover .card__infoicon, .container--21 .card:focus .card__infoicon {
  opacity: 1;
}

.conatiner--22 {
  display: grid;
  place-content: center;
}
.conatiner--22 h1 {
  position: relative;
  font-size: 5rem;
}
.conatiner--22 h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #99ddff;
  z-index: -1;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: bottom right;
}
.conatiner--22 h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.containerslider--1 {
  padding-bottom: 3rem;
}
.containerslider--1 .slideshow {
  position: relative;
  width: 100%;
  height: 70rem;
}
.containerslider--1 .slideshow__element {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: transparent;
  opacity: 0;
  animation: imageAnimation 30s ease-in-out infinite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.containerslider--1 .slideshow__element:first-child {
  background-image: url("https://myownphotostory.pl/wp-content/uploads/2018/11/06/horseshoebend_WL48775-HDR-1050x788.jpg");
}
.containerslider--1 .slideshow__element:nth-child(2) {
  background-image: url("https://myownphotostory.pl/wp-content/uploads/2018/11/06/Kanion-Antylopy-USA_WL48450-HDR-1050x788.jpg");
  animation-delay: 6s;
}
.containerslider--1 .slideshow__element:nth-child(3) {
  background-image: url("https://myownphotostory.pl/wp-content/uploads/2018/09/06/Arches-NPv_WL60460-1050x788.jpg");
  animation-delay: 12s;
}
.containerslider--1 .slideshow__element:nth-child(4) {
  background-image: url("https://myownphotostory.pl/wp-content/uploads/2018/06/06/Joshua-Tree-USA-cholla-garden_WL26167-1050x788.jpg");
  animation-delay: 18s;
}
.containerslider--1 .slideshow__element:nth-child(5) {
  background-image: url("https://myownphotostory.pl/wp-content/uploads/2018/06/06/Joshua-Tree-USA_WL25938-1050x788.jpg");
  animation-delay: 24s;
}
.containerslider--1 .slideshow h2 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #fcfcfc;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}